<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/nashtech/Downloads/Amazon_POM">
        <classes>
            <class name="Amazon.Test.AmazonPageTest">
                <methods>
                    <include name="AmazonLaunch"/>
                    <include name="ProductSearch"/>
                    <include name="ProductColour"/>
                    <include name="IsAddedToCart"/>
                    <include name="IsProceedToBuy"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>